 <!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title></title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="./css/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="./css/fav.css"  media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">More-Recipe</a>
      <ul class="right hide-on-med-and-down teal-text">
        <li class="teal-text" id="teal"><a href="home.html">TOP RECIPES</a></li>
        <li class="teal-text active" id="teal"><a href="favourite.html">FAVORITES</a></li>
        <li class="teal-text" id="teal"><a href="Auth.html">REGISTER</a></li>
        <li class="teal-text" id="teal"><a href="profile.html">PROFILE</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br>
        <h2 class="header center teal-text text-lighten-2">American Cuisines</h2>
        <div class="row center">
          <h5 class="header col s12 light">Lorem ipsum dolor sit amet, consectetur adipiscing elitIn venenatis egestas ante non maximus.</h5>
        </div>
        <div class="row center">
          <a href="#container" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Favorite Recipes</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="https://static.pexels.com/photos/262918/pexels-photo-262918.jpeg" alt="Unsplashed background img 1" style="height: 450px;"></div>
  </div>


  <div class="container " id="container">
    <div class="section">

      <!--   Icon Section   -->
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://static.pexels.com/photos/8758/food-dinner-lemon-rice.jpg" alt="Photo of sunset">
          <span class="card-title"><a href="detail.html">American-cheese Burger</a></span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
        <small class="red-text">chinesse</small>
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
              <div class="card-action">
        <div class="">
          <!-- <span><i class="material-icons">star rate</i></span> -->
<!--           <span><i class="material-icons">comments</i>7</span> -->
          </div>
        </div>
      </div>
    </div>
        <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://static.pexels.com/photos/161640/abstract-barbecue-barbeque-bbq-161640.jpeg">
          <span class="card-title"><a href="detail.html">American-cheese Burger</a></span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <small class="red-text">chinesse</small>
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
        <div class="">
          <!-- <span><i class="material-icons">star rate</i></span> -->
<!--           <span><i class="material-icons">comments</i>7</span> -->
          </div>
        </div>
      </div>
    </div>
        <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://static.pexels.com/photos/5506/bread-food-salad-sandwich.jpg">
          <span class="card-title"><a href="detail.html">American-cheese Burger</a></span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
        <small class="red-text">chinesse</small>
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
        <div class="">
          <!-- <span><i class="material-icons">star rate</i></span> -->
<!--           <span><i class="material-icons">comments</i>7</span> -->
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

    </div>
  </div>


  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h6 class="white-text">ABOUT</h6>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis egestas ante non maximus. Maecenas commodo lectus ligula, nec ultricies quam laoreet porta. Donec lectus nisl, porttitor ac semper molestie, sagittis non orci. In egestas diam tincidunt fringilla posuere</p>


        </div>
        <div class="col l3 s12 center">
          <h6 class="white-text">SETTINGS</h6>
          <ul>
            <li><a class="white-text" href="#!">FAQ</a></li>
            <li><a class="white-text" href="#!">Pricing</a></li>
            <li><a class="white-text" href="#!">Notifications</a></li>
            <li><a class="white-text" href="#!">Restaurants</a></li>
          </ul>
        </div>
        <div class="col l3 s12 center">
          <h6 class="white-text">CONNECT</h6>
          <ul>
            <li><a class="white-text" href="#!">facebook</a></li>
            <li><a class="white-text" href="#!">Instagram</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
    <a class="brown-text text-lighten-3" href="http://materializecss.com"></a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
 






























